# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest / testing
.pytest_cache/
.coverage

# Virtual environments
venv/
.venv/
env/
